/* work on style 
===> need to round the square corners
===> add space up-top on white strip
===> change styling of buttons (new colors, easy, hard)
===> add hover effect on buttons
===> edit text space for buttons and message
===> add animation to fade out incorrect squares slowly (transition to background color)
===> h1 needs to take up more space, change background color, change font, span of color is formatted correctly (own line, larger font)
===> change font for entire body
===> fix edge space on the white stripe
*/

body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

/* style each of the squares in container */
/* each square will take up 30% of containter */
/* the margin will on all sides = 1.66% */
/* so that'll all add up to be 100% if the container */

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%; /* in order to see starting off, you need to include this */
    float: left; /* to get it to be all on the same line */
    margin: 1.66%; /* this will create the grid */
    border-radius: 15%; /* this will round off the square corners */
    transition: background 0.5s;
    -webkit-transition: background 0.5s; /* for safari browser */
    -moz-transition: background 0.5s; /* for mozilla browser */
}

#container {
    margin: 20px auto; /* 0 for top and bottom, auto for left and right */
    max-width: 600px; /* will make the squares much smaller */
}

h1 {
    text-align: center;
    line-height: 1.1;
    font-weight: normal;
    color: white;
    background: steelblue;
    margin: 0; /* get rid of black space */
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

/*// add stripe across that will contain button to allow reset / play again / also message of results*/
/*// go edit <div> in html 1st and give id of "stripe"*/
/*// add white background and then center the <div> (go to css sheet & select "stripe")*/
/*// remove <span> white bc it's messing up specificity*/

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: white;
    background: steelblue;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s; /* this tells css how to animate btwn color/font size changes and properties */
    -webkit-transition: background 0.3s; /* for safari browser */
    -moz-transition: background 0.3s; /* for mozilla browser */
    outline: none;
}

button:hover {
    color: white;
    background: steelblue;
}