body {
    background-color: #232323;
}

/* style each of the squares in container */
/* each square will take up 30% of containter */
/* the margin will on all sides = 1.66% */
/* so that'll all add up to be 100% if the container */

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%; /* in order to see starting off, you need to include this */
    float: left; /* to get it to be all on the same line */
    margin: 1.66%; /* this will create the grid */
}

#container {
    margin: 0 auto; /* 0 for top and bottom, auto for left and right */
    max-width: 600px; /* will make the squares much smaller */
}

h1 {
    color: white;
}

/*// add stripe across that will contain button to allow reset / play again / also message of results*/
/*// go edit <div> in html 1st and give id of "stripe"*/
/*// add white background and then center the <div> (go to css sheet & select "stripe")*/
/*// remove <span> white bc it's messing up specificity*/

#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}